In [171]:
import pandas as pd
from collections import defaultdict

In [172]:

def data_check(data: pd.DataFrame) -> dict:
    '''Чекаем основную стату по пропускам, частичным и полным дублям'''
    columns_check = data.columns.to_list()

    log_dict = dict()
    nans_by_columns = defaultdict(int)
    nans_by_columns_perc = defaultdict(float)
    duplicates_by_columns = defaultdict(int)

    for column in columns_check:
        nans_by_columns[column] = data[column].isna().sum()
        nans_by_columns_perc[column] = data[column].isna().sum() / \
            data.shape[0]
    for column in columns_check:
        duplicates_by_columns[column] = data[column].duplicated().sum()

    log_dict["nans_within_columns"] = nans_by_columns

    log_dict["nans_within_columns_%"] = nans_by_columns_perc

    log_dict["duplicates_within_columns"] = duplicates_by_columns

    log_dict["identical_duplicates"] = data.duplicated().sum()

    log_dict["identical_duplicates_%"] = data.duplicated().sum() / \
        data.shape[0]

    return log_dict

In [173]:
def data_saver(data: pd.DataFrame, output_path: str) -> None:
    data.to_csv(output_path, index=False)
    display(data.head())

---
### Customers

In [174]:
customers = pd.read_csv("./raw_data/customers.csv")
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [175]:
data_saver(customers, "./data/customers.csv")

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

---
### Geolocation

In [176]:
geolocation = pd.read_csv("./raw_data/geolocation.csv", index_col=0)
geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [177]:
data_saver(geolocation, "./data/geolocation.csv")

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

---
### order_payments

In [178]:
order_payments = pd.read_csv("./raw_data/order_payments.csv", index_col=0)
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [179]:
data_saver(order_payments, "./data/order_payments.csv")

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

---
### order_reviews

In [180]:
order_reviews = pd.read_csv("./raw_data/order_reviews.csv", index_col=0)
order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [181]:
data_saver(order_reviews, "./data/order_reviews.csv")

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

---
### orders

In [182]:
orders = pd.read_csv("./raw_data/orders.csv")
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [183]:
data_saver(orders, "./data/orders.csv")

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

---
### orders_items

In [184]:
orders_items = pd.read_csv("./raw_data/orders_items.csv", index_col=0)
orders_items.head()

/var/folders/rd/skj0w1gx70v2_kz3x6xprx8h0000gn/T/ipykernel_48093/2103540420.py:1: DtypeWarning: Columns (1,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  orders_items = pd.read_csv("./raw_data/orders_items.csv", index_col=0)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,shipping_limit_date.1,price.1,freight_value.1
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,2017-02-13 13:57:51,199.90,18.14

In [185]:
orders_items = orders_items.iloc[:, :-3]
orders_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [186]:
data_saver(orders_items, "./data/orders_items.csv")

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

---
### product_category_name_translation

In [187]:
product_category_name_translation = pd.read_csv(
    "./raw_data/product_category_name_translation.csv", index_col=0)
product_category_name_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [188]:
data_saver(product_category_name_translation,
           "./data/product_category_name_translation.csv")

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

---
### products

In [189]:
products = pd.read_csv("./raw_data/products.csv")
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [190]:
data_saver(products, "./data/products.csv")

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

---
### sellers

In [191]:
sellers = pd.read_csv("./raw_data/sellers.csv", index_col=0)
sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [192]:
data_saver(sellers, "./data/sellers.csv")

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

----
### Реинициализируем переменные для предметной обработки

In [193]:
customers = pd.read_csv("./data/customers.csv")
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [194]:
geolocation = pd.read_csv("./data/geolocation.csv")
geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [195]:
order_payments = pd.read_csv("./data/order_payments.csv")
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [196]:
order_reviews = pd.read_csv("./data/order_reviews.csv")
order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [197]:
orders = pd.read_csv("./data/orders.csv")
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [198]:
orders_items = pd.read_csv("./data/orders_items.csv")
orders_items.head()

/var/folders/rd/skj0w1gx70v2_kz3x6xprx8h0000gn/T/ipykernel_48093/3507745292.py:1: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  orders_items = pd.read_csv("./data/orders_items.csv")

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [199]:
product_category_name_translation = pd.read_csv(
    "./data/product_category_name_translation.csv")
product_category_name_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [200]:
products = pd.read_csv("./data/products.csv")
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [201]:
sellers = pd.read_csv("./data/sellers.csv")
sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

----
### Проверка на дубликаты, пропуски

---
### Проверка customers

In [202]:
data_check(customers)

{'nans_within_columns': defaultdict(int,
             {'customer_id': 0,
              'customer_unique_id': 0,
              'customer_zip_code_prefix': 0,
              'customer_city': 0,
              'customer_state': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'customer_id': 0.0,
              'customer_unique_id': 0.0,
              'customer_zip_code_prefix': 0.0,
              'customer_city': 0.0,
              'customer_state': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'customer_id': 0,
              'customer_unique_id': 3345,
              'customer_zip_code_prefix': 84447,
              'customer_city': 95322,
              'customer_state': 99414}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

> Данные чистые дубликатов нет кидаем в очищенные

In [203]:
data_saver(customers, "./clean_data/customers.csv")

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

---
### Проверка geolocation

In [204]:
data_check(geolocation)

{'nans_within_columns': defaultdict(int,
             {'geolocation_zip_code_prefix': 0,
              'geolocation_lat': 0,
              'geolocation_lng': 0,
              'geolocation_city': 0,
              'geolocation_state': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'geolocation_zip_code_prefix': 0.0,
              'geolocation_lat': 0.0,
              'geolocation_lng': 0.0,
              'geolocation_city': 0.0,
              'geolocation_state': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'geolocation_zip_code_prefix': 981148,
              'geolocation_lat': 282804,
              'geolocation_lng': 282550,
              'geolocation_city': 992152,
              'geolocation_state': 1000136}),
 'identical_duplicates': 261831,
 'identical_duplicates_%': 0.2617883285024541}

In [205]:
geolocation_cleaned = geolocation.drop_duplicates()
data_check(geolocation_cleaned)

{'nans_within_columns': defaultdict(int,
             {'geolocation_zip_code_prefix': 0,
              'geolocation_lat': 0,
              'geolocation_lng': 0,
              'geolocation_city': 0,
              'geolocation_state': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'geolocation_zip_code_prefix': 0.0,
              'geolocation_lat': 0.0,
              'geolocation_lng': 0.0,
              'geolocation_city': 0.0,
              'geolocation_state': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'geolocation_zip_code_prefix': 719317,
              'geolocation_lat': 20973,
              'geolocation_lng': 20719,
              'geolocation_city': 730321,
              'geolocation_state': 738305}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

> 26% полных строковых дубликатов, пропусков нет, чистим сохраняем

In [206]:
data_saver(geolocation_cleaned, "./clean_data/geolocation.csv")

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

---
### Проверка order_payments

In [207]:
data_check(order_payments)

{'nans_within_columns': defaultdict(int,
             {'order_id': 0,
              'payment_sequential': 0,
              'payment_type': 0,
              'payment_installments': 0,
              'payment_value': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'order_id': 0.0,
              'payment_sequential': 0.0,
              'payment_type': 0.0,
              'payment_installments': 0.0,
              'payment_value': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'order_id': 212218,
              'payment_sequential': 311629,
              'payment_type': 311653,
              'payment_installments': 311634,
              'payment_value': 282581}),
 'identical_duplicates': 207772,
 'identical_duplicates_%': 0.6666666666666666}

> 66% полных строковых дубликатов, пропусков нет, чистим сохраняем

In [208]:
order_payments_cleaned = order_payments.drop_duplicates()
data_check(order_payments_cleaned)

{'nans_within_columns': defaultdict(int,
             {'order_id': 0,
              'payment_sequential': 0,
              'payment_type': 0,
              'payment_installments': 0,
              'payment_value': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'order_id': 0.0,
              'payment_sequential': 0.0,
              'payment_type': 0.0,
              'payment_installments': 0.0,
              'payment_value': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'order_id': 4446,
              'payment_sequential': 103857,
              'payment_type': 103881,
              'payment_installments': 103862,
              'payment_value': 74809}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

In [209]:
data_saver(order_payments_cleaned, "./clean_data/order_payments.csv")

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

---
### Проверка order_reviews

In [210]:
data_check(order_reviews)

{'nans_within_columns': defaultdict(int,
             {'review_id': 0,
              'order_id': 0,
              'review_score': 0,
              'review_comment_title': 87656,
              'review_comment_message': 58247,
              'review_creation_date': 0,
              'review_answer_timestamp': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'review_id': 0.0,
              'order_id': 0.0,
              'review_score': 0.0,
              'review_comment_title': 0.8834153027493349,
              'review_comment_message': 0.5870253164556962,
              'review_creation_date': 0.0,
              'review_answer_timestamp': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'review_id': 814,
              'order_id': 551,
              'review_score': 99219,
              'review_comment_title': 94696,
              'review_comment_message': 63064,
              'review_creation_date': 98588,
              'review_answer_timestamp': 976}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

> дубликатов нет, большое количество пропусков в колонках review_comment_message, review_comment_title заполнение нецелесообразно, дропаем фиты сохраняем

In [211]:
order_reviews_cleaned = order_reviews.drop(
    columns=['review_comment_message', 'review_comment_title'])
data_check(order_reviews_cleaned)

{'nans_within_columns': defaultdict(int,
             {'review_id': 0,
              'order_id': 0,
              'review_score': 0,
              'review_creation_date': 0,
              'review_answer_timestamp': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'review_id': 0.0,
              'order_id': 0.0,
              'review_score': 0.0,
              'review_creation_date': 0.0,
              'review_answer_timestamp': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'review_id': 814,
              'order_id': 551,
              'review_score': 99219,
              'review_creation_date': 98588,
              'review_answer_timestamp': 976}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

In [212]:
data_saver(order_reviews_cleaned, "./clean_data/order_reviews.csv")

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01 00:00:00,2018-03-02 10:26:53

---
### Проверка orders

In [213]:
data_check(orders)

{'nans_within_columns': defaultdict(int,
             {'order_id': 0,
              'customer_id': 0,
              'order_status': 0,
              'order_purchase_timestamp': 0,
              'order_approved_at': 160,
              'order_delivered_carrier_date': 1783,
              'order_delivered_customer_date': 2965,
              'order_estimated_delivery_date': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'order_id': 0.0,
              'customer_id': 0.0,
              'order_status': 0.0,
              'order_purchase_timestamp': 0.0,
              'order_approved_at': 0.0016089942780140988,
              'order_delivered_carrier_date': 0.017930229985619613,
              'order_delivered_customer_date': 0.02981667521444877,
              'order_estimated_delivery_date': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'order_id': 0,
              'customer_id': 0,
              'order_status': 99433,
              'order_purchase_timestamp': 566,
              'order_approved_at': 8707,
              'order_delivered_carrier_date': 18422,
              'order_delivered_customer_date': 3776,
              'order_estimated_delivery_date': 98982}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

> Дубликатов нет, пропуски составляют ничтожную долю процента по каждому фиту (где имеются), так же они наличествуют в timestamp фитах, заполнение нецелесообразно -> построчный дроп

In [214]:
orders_cleaned = orders.dropna(axis=0)
data_check(orders_cleaned)

{'nans_within_columns': defaultdict(int,
             {'order_id': 0,
              'customer_id': 0,
              'order_status': 0,
              'order_purchase_timestamp': 0,
              'order_approved_at': 0,
              'order_delivered_carrier_date': 0,
              'order_delivered_customer_date': 0,
              'order_estimated_delivery_date': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'order_id': 0.0,
              'customer_id': 0.0,
              'order_status': 0.0,
              'order_purchase_timestamp': 0.0,
              'order_approved_at': 0.0,
              'order_delivered_carrier_date': 0.0,
              'order_delivered_customer_date': 0.0,
              'order_estimated_delivery_date': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'order_id': 0,
              'customer_id': 0,
              'order_status': 96459,
              'order_purchase_timestamp': 522,
              'order_approved_at': 8189,
              'order_delivered_carrier_date': 16361,
              'order_delivered_customer_date': 812,
              'order_estimated_delivery_date': 96016}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

In [215]:
data_saver(orders_cleaned, "./clean_data/orders.csv")

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

---
### Проверка orders_items

In [216]:
data_check(orders_items)

{'nans_within_columns': defaultdict(int,
             {'order_id': 112650,
              'order_item_id': 112650,
              'product_id': 112650,
              'seller_id': 112650,
              'shipping_limit_date': 112650,
              'price': 112650,
              'freight_value': 112650}),
 'nans_within_columns_%': defaultdict(float,
             {'order_id': 0.5,
              'order_item_id': 0.5,
              'product_id': 0.5,
              'seller_id': 0.5,
              'shipping_limit_date': 0.5,
              'price': 0.5,
              'freight_value': 0.5}),
 'duplicates_within_columns': defaultdict(int,
             {'order_id': 126633,
              'order_item_id': 225278,
              'product_id': 192348,
              'seller_id': 222204,
              'shipping_limit_date': 131981,
              'price': 219331,
              'freight_value': 218300}),
 'identical_duplicates': 112649,
 'identical_duplicates_%': 0.49999556147359075}

> Судя по всему изначальная таблица плохо смержилась, дублирующие колонки были удалены на этапе чистки raw_data, удаляем сначала полные дубли потом посмотрим на характер пропусков

In [220]:
orders_items_cleaned = orders_items.drop_duplicates()
data_check(orders_items_cleaned)

{'nans_within_columns': defaultdict(int,
             {'order_id': 1,
              'order_item_id': 1,
              'product_id': 1,
              'seller_id': 1,
              'shipping_limit_date': 1,
              'price': 1,
              'freight_value': 1}),
 'nans_within_columns_%': defaultdict(float,
             {'order_id': 8.876974017097052e-06,
              'order_item_id': 8.876974017097052e-06,
              'product_id': 8.876974017097052e-06,
              'seller_id': 8.876974017097052e-06,
              'shipping_limit_date': 8.876974017097052e-06,
              'price': 8.876974017097052e-06,
              'freight_value': 8.876974017097052e-06}),
 'duplicates_within_columns': defaultdict(int,
             {'order_id': 13984,
              'order_item_id': 112629,
              'product_id': 79699,
              'seller_id': 109555,
              'shipping_limit_date': 19332,
              'price': 106682,
              'freight_value': 105651}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

> Дубликатами были пустые строки по большей части, остальные наны чистим построчно, количество пропусков не рационально заполнять (слишком мало)

In [221]:
orders_items_cleaned = orders_items_cleaned.dropna(axis=0)
data_check(orders_items_cleaned)

{'nans_within_columns': defaultdict(int,
             {'order_id': 0,
              'order_item_id': 0,
              'product_id': 0,
              'seller_id': 0,
              'shipping_limit_date': 0,
              'price': 0,
              'freight_value': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'order_id': 0.0,
              'order_item_id': 0.0,
              'product_id': 0.0,
              'seller_id': 0.0,
              'shipping_limit_date': 0.0,
              'price': 0.0,
              'freight_value': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'order_id': 13984,
              'order_item_id': 112629,
              'product_id': 79699,
              'seller_id': 109555,
              'shipping_limit_date': 19332,
              'price': 106682,
              'freight_value': 105651}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

In [222]:
data_saver(orders_items_cleaned, "./clean_data/orders_items.csv")

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

------
### Проверка product_category_name_translation

In [223]:
data_check(product_category_name_translation)

{'nans_within_columns': defaultdict(int,
             {'product_category_name': 0, 'product_category_name_english': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'product_category_name': 0.0,
              'product_category_name_english': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'product_category_name': 0, 'product_category_name_english': 0}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

> Все отлично сохраняем

In [224]:
data_saver(product_category_name_translation, "./clean_data/product_category_name_translation.csv")

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

------
### Проверка products

In [218]:
data_check(products)

{'nans_within_columns': defaultdict(int,
             {'product_id': 0,
              'product_category_name': 610,
              'product_name_lenght': 610,
              'product_description_lenght': 610,
              'product_photos_qty': 610,
              'product_weight_g': 2,
              'product_length_cm': 2,
              'product_height_cm': 2,
              'product_width_cm': 2}),
 'nans_within_columns_%': defaultdict(float,
             {'product_id': 0.0,
              'product_category_name': 0.018512336499651,
              'product_name_lenght': 0.018512336499651,
              'product_description_lenght': 0.018512336499651,
              'product_photos_qty': 0.018512336499651,
              'product_weight_g': 6.069618524475737e-05,
              'product_length_cm': 6.069618524475737e-05,
              'product_height_cm': 6.069618524475737e-05,
              'product_width_cm': 6.069618524475737e-05}),
 'duplicates_within_columns': defaultdict(int,
             {'product_id': 0,
              'product_category_name': 32877,
              'product_name_lenght': 32884,
              'product_description_lenght': 29990,
              'product_photos_qty': 32931,
              'product_weight_g': 30746,
              'product_length_cm': 32851,
              'product_height_cm': 32848,
              'product_width_cm': 32855}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

---
### Проверка sellers

In [219]:
data_check(sellers)

{'nans_within_columns': defaultdict(int,
             {'seller_id': 0,
              'seller_zip_code_prefix': 0,
              'seller_city': 0,
              'seller_state': 0}),
 'nans_within_columns_%': defaultdict(float,
             {'seller_id': 0.0,
              'seller_zip_code_prefix': 0.0,
              'seller_city': 0.0,
              'seller_state': 0.0}),
 'duplicates_within_columns': defaultdict(int,
             {'seller_id': 0,
              'seller_zip_code_prefix': 849,
              'seller_city': 2484,
              'seller_state': 3072}),
 'identical_duplicates': 0,
 'identical_duplicates_%': 0.0}

> Все отлично сохраняем

In [225]:
data_saver(sellers, "./clean_data/sellers.csv")

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP