In [14]:
import numpy as np
import pandas as pd
import scipy.sparse as sparse
from lightfm import LightFM
from lightfm.cross_validation import random_train_test_split
from lightfm.evaluation import precision_at_k, recall_at_k

import nmslib

import pickle

import warnings
warnings.filterwarnings('ignore')

In [15]:
ratings = pd.read_csv('./data/ratings.csv')
books = pd.read_csv('./data/books.csv')
tags = pd.read_csv('./data/tags.csv')
book_tags = pd.read_csv('./data/book_tags.csv')

In [16]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [17]:
tags = pd.read_csv('./data/tags_cleaned.csv')
tags.head()

   tag_id      tag_name
0     509  19th-century
1     923  20th-century
2     941  21st-century
3    1499         abuse
4    1540        action

In [18]:
# Создадим словарь сопоставлений названий колонок
mapper = dict(zip(books['goodreads_book_id'], books['book_id']))
mapper

{2767052: 1,
 3: 2,
 41865: 3,
 2657: 4,
 4671: 5,
 11870085: 6,
 5907: 7,
 5107: 8,
 960: 9,
 1885: 10,
 77203: 11,
 13335037: 12,
 5470: 13,
 7613: 14,
 48855: 15,
 2429135: 16,
 6148028: 17,
 5: 18,
 34: 19,
 7260188: 20,
 2: 21,
 12232938: 22,
 15881: 23,
 6: 24,
 136251: 25,
 968: 26,
 1: 27,
 7624: 28,
 18135: 29,
 8442457: 30,
 4667024: 31,
 890: 32,
 930: 33,
 10818853: 34,
 865: 35,
 3636: 36,
 100915: 37,
 14050: 38,
 13496: 39,
 19501: 40,
 28187: 41,
 1934: 42,
 10210: 43,
 15931: 44,
 4214: 45,
 43641: 46,
 19063: 47,
 4381: 48,
 49041: 49,
 30119: 50,
 256683: 51,
 428263: 52,
 113436: 53,
 11: 54,
 5129: 55,
 1162543: 56,
 37435: 57,
 2956: 58,
 24178: 59,
 1618: 60,
 22557272: 61,
 119322: 62,
 6185: 63,
 10917: 64,
 4981: 65,
 18405: 66,
 128029: 67,
 22628: 68,
 11735983: 69,
 375802: 70,
 18490: 71,
 11588: 72,
 1656001: 73,
 99561: 74,
 227443: 75,
 14935: 76,
 38709: 77,
 5139: 78,
 1381: 79,
 157993: 80,
 7445: 81,
 1845: 82,
 1953: 83,
 7677: 84,
 370493: 85,
 32542: 86,
 1617: 87,
 6442769: 88,
 21787: 89,
 231804: 90,
 6186357: 91,
 1202: 92,
 2998: 93,
 320: 94,
 5297: 95,
 13536860: 96,
 17245: 97,
 5060378: 98,
 11857408: 99,
 7244: 100,
 4137: 101,
 19543: 102,
 7126: 103,
 6288: 104,
 18710190: 105,
 9418327: 106,
 3473: 107,
 9416: 108,
 24280: 109,
 10572: 110,
 10441: 111,
 15507958: 112,
 168668: 113,
 6900: 114,
 2187: 115,
 24583: 116,
 18131: 117,
 7763: 118,
 38447: 119,
 452306: 120,
 7604: 121,
 37442: 122,
 5358: 123,
 7937843: 124,
 1420: 125,
 234225: 126,
 2612: 127,
 11084145: 128,
 332613: 129,
 2165: 130,
 4395: 131,
 3431: 132,
 8127: 133,
 3777732: 134,
 62291: 135,
 137791: 136,
 10964: 137,
 12296: 138,
 9460487: 139,
 6892870: 140,
 18007564: 141,
 5043: 142,
 18143977: 143,
 8664353: 144,
 976: 145,
 17333223: 146,
 1217100: 147,
 2865: 148,
 4374400: 149,
 4989: 150,
 28186: 151,
 5526: 152,
 1582996: 153,
 8852: 154,
 15241: 155,
 42156: 156,
 23772: 157,
 6310: 158,
 2120932: 159,
 2623: 160,
 18512: 161,
 49552: 162,
 7736182: 163,
 15745753: 164,
 13497: 165,
 7735333: 166,
 4407: 167,
 149267: 168,
 6400090: 169,
 11125: 170,
 6969: 171,
 15823480: 172,
 227463: 173,
 1812457: 174,
 4502507: 175,
 18342: 176,
 7144: 177,
 6514: 178,
 252577: 179,
 52036: 180,
 168642: 181,
 6304335: 182,
 7171637: 183,
 39988: 184,
 9361589: 185,
 37470: 186,
 24770: 187,
 10664113: 188,
 33: 189,
 12262741: 190,
 472331: 191,
 186074: 192,
 3228917: 193,
 153747: 194,
 2728527: 195,
 5759: 196,
 301082: 197,
 11486: 198,
 12691: 199,
 16299: 200,
 6411961: 201,
 6339664: 202,
 11505797: 203,
 5326: 204,
 43763: 205,
 10507293: 206,
 6853: 207,
 6493208: 208,
 23807: 209,
 345627: 210,
 40102: 211,
 6867: 212,
 485894: 213,
 561456: 214,
 9969571: 215,
 3153910: 216,
 21996: 217,
 13572249: 218,
 11127: 219,
 3609760: 220,
 60748: 221,
 7869: 222,
 249747: 223,
 6487308: 224,
 4406: 225,
 5886881: 226,
 5359: 227,
 228333: 228,
 24213: 229,
 2156: 230,
 556602: 231,
 43615: 232,
 9712: 233,
 439288: 234,
 17802724: 235,
 1898: 236,
 10592: 237,
 242006: 238,
 8908: 239,
 17212231: 240,
 47281: 241,
 13145: 242,
 10614: 243,
 66559: 244,
 2839: 245,
 30183: 246,
 36072: 247,
 1622: 248,
 4588: 249,
 11387515: 250,
 233093: 251,
 11235712: 252,
 16160797: 253,
 6068551: 254,
 662: 255,
 49436: 256,
 13023: 257,
 1232: 258,
 7631105: 259,
 4865: 260,
 480479: 261,
 19486412: 262,
 24337: 263,
 3876: 264,
 14891: 265,
 13148: 266,
 21853621: 267,
 6334: 268,
 366522: 269,
 12873: 270,
 18373: 271,
 6952: 272,
 1103: 273,
 22034: 274,
 49750: 275,
 29579: 276,
 15783514: 277,
 30118: 278,
 29056083: 279,
 11614718: 280,
 32499: 281,
 17061: 282,
 12067: 283,
 70401: 284,
 16181775: 285,
 3063499: 286,
 2122: 287,
 19691: 288,
 76620: 289,
 10335308: 290,
 3591262: 291,
 140225: 292,
 295: 293,
 9520360: 294,
 10644930: 295,
 4948: 296,
 135479: 297,
 2493: 298,
 7933292: 299,
 39999: 300,
 4900: 301,
 7812659: 302,
 52529: 303,
 227711: 304,
 10583: 305,
 5203: 306,
 1215032: 307,
 33724: 308,
 6752378: 309,
 14748: 310,
 3412: 311,
 2213661: 312,
 13158800: 313,
 28194: 314,
 4894: 315,
 9791: 316,
 13214: 317,
 15818107: 318,
 8755776: 319,
 13526165: 320,
 10365: 321,
 14497: 322,
 9717: 323,
 16068905: 324,
 4473: 325,
 32234: 326,
 9275658: 327,
 14866: 328,
 2318271: 329,
 228665: 330,
 10916: 331,
 65605: 332,
 2153405: 333,
 13596809: 334,
 6689: 335,
 13137: 336,
 13: 337,
 6280118: 338,
 32929: 339,
 7747374: 340,
 1371: 341,
 13497818: 342,
 24192: 343,
 4138: 344,
 45978: 345,
 236093: 346,
 121749: 347,
 16143347: 348,
 11590: 349,
 7745: 350,
 10025305: 351,
 20910157: 352,
 12996: 353,
 6149: 354,
 3236307: 355,
 78411: 356,
 355697: 357,
 191139: 358,
 16115612: 359,
 7082: 360,
 18254: 361,
 11149: 362,
 6936382: 363,
 113946: 364,
 5805: 365,
 2203: 366,
 14995: 367,
 119324: 368,
 22232: 369,
 7090447: 370,
 350: 371,
 10176: 372,
 6319: 373,
 21: 374,
 1852: 375,
 7864437: 376,
 16793: 377,
 33917: 378,
 8667848: 379,
 11297: 380,
 5168: 381,
 6567017: 382,
 1241: 383,
 2282133: 384,
 8520610: 385,
 233818: 386,
 17250: 387,
 50: 388,
 68428: 389,
 51496: 390,
 7784: 391,
 389627: 392,
 7896527: 393,
 2802316: 394,
 46170: 395,
 3367956: 396,
 343: 397,
 1097: 398,
 3950967: 399,
 22328: 400,
 10799: 401,
 391729: 402,
 10534: 403,
 11367726: 404,
 4980: 405,
 627206: 406,
 5826: 407,
 1842: 408,
 9375: 409,
 37781: 410,
 33722: 411,
 567795: 412,
 7190: 413,
 6948436: 414,
 3975774: 415,
 6327: 416,
 40440: 417,
 6479259: 418,
 5996153: 419,
 3478: 420,
 8683812: 421,
 862041: 422,
 16248068: 423,
 119073: 424,
 46799: 425,
 310612: 426,
 92303: 427,
 12127750: 428,
 34497: 429,
 4929: 430,
 28877: 431,
 41804: 432,
 42899: 433,
 7791997: 434,
 6482837: 435,
 9777: 436,
 18079776: 437,
 6469165: 438,
 3869: 439,
 7315573: 440,
 6320534: 441,
 830: 442,
 51738: 443,
 99107: 444,
 9736930: 445,
 102868: 446,
 2248573: 447,
 56495: 448,
 676924: 449,
 47212: 450,
 50398: 451,
 16101128: 452,
 10920: 453,
 767680: 454,
 42155: 455,
 12220: 456,
 10692: 457,
 20170404: 458,
 18774964: 459,
 18335634: 460,
 1078: 461,
 2784: 462,
 5364: 463,
 1923820: 464,
 14758: 465,
 659469: 466,
 297673: 467,
 37415: 468,
 41899: 469,
 17851885: 470,
 45032: 471,
 4069: 472,
 237209: 473,
 14743: 474,
 8492825: 475,
 7069: 476,
 78129: 477,
 2932: 478,
 28862: 479,
 18122: 480,
 43889: 481,
 6837103: 482,
 5113: 483,
 29059: 484,
 4934: 485,
 307791: 486,
 7670: 487,
 11566: 488,
 2547: 489,
 15196: 490,
 2866718: 491,
 7967: 492,
 11138: 493,
 29044: 494,
 4953: 495,
 1295: 496,
 3685: 497,
 656: 498,
 28676: 499,
 38980: 500,
 7061: 501,
 138398: 502,
 70535: 503,
 11422: 504,
 27523: 505,
 18635016: 506,
 7938275: 507,
 1869: 508,
 1358844: 509,
 233649: 510,
 6534: 511,
 23919: 512,
 561909: 513,
 3590: 514,
 16735: 515,
 3985: 516,
 4268157: 517,
 34268: 518,
 24768: 519,
 11275: 520,
 79885: 521,
 49628: 522,
 133518: 523,
 114683: 524,
 9593911: 525,
 17231: 526,
 110494: 527,
 34897: 528,
 7733: 529,
 12957: 530,
 52357: 531,
 59980: 532,
 24817626: 533,
 1044355: 534,
 8490112: 535,
 17878931: 536,
 12609433: 537,
 386187: 538,
 15717943: 539,
 3008: 540,
 51737: 541,
 84119: 542,
 6527740: 543,
 77767: 544,
 144974: 545,
 629: 546,
 8909: 547,
 162085: 548,
 231850: 549,
 3109: 550,
 15790842: 551,
 3462: 552,
 107291: 553,
 10987: 554,
 117251: 555,
 10603: 556,
 10956: 557,
 140077: 558,
 32261: 559,
 2175: 560,
 378: 561,
 7235533: 562,
 140082: 563,
 248704: 564,
 68429: 565,
 25041504: 566,
 10032672: 567,
 59960: 568,
 13152: 569,
 285092: 570,
 15925: 571,
 46756: 572,
 1274: 573,
 33313: 574,
 7669: 575,
 19380: 576,
 84981: 577,
 10629: 578,
 197084: 579,
 222078: 580,
 13206760: 581,
 69571: 582,
 10637766: 583,
 6101718: 584,
 13615: 585,
 3682: 586,
 256566: 587,
 15769: 588,
 16056408: 589,
 58696: 590,
 693208: 591,
 117833: 592,
 13642: 593,
 357664: 594,
 5148: 595,
 5349: 596,
 3836: 597,
 45107: 598,
 8695: 599,
 7740152: 600,
 19321: 601,
 65641: 602,
 2767793: 603,
 68783: 604,
 40173: 605,
 71728: 606,
 8755785: 607,
 310259: 608,
 10567: 609,
 16158542: 610,
 7332: 611,
 5094: 612,
 3407877: 613,
 17690: 614,
 22205: 615,
 14864: 616,
 6314763: 617,
 8921: 618,
 11468377: 619,
 402045: 620,
 37732: 621,
 15926: 622,
 18775247: 623,
 140075: 624,
 5166: 625,
 420282: 626,
 125507: 627,
 32682: 628,
 1431: 629,
 16071764: 630,
 170210: 631,
 10429045: 632,
 17214: 633,
 12033455: 634,
 10959: 635,
 11260526: 636,
 76778: 637,
 7331435: 638,
 93: 639,
 83763: 640,
 84369: 641,
 5064: 642,
 1326258: 643,
 13372690: 644,
 544891: 645,
 2696: 646,
 42149: 647,
 7664041: 648,
 10357575: 649,
 46787: 650,
 480204: 651,
 140079: 652,
 2526: 653,
 7905092: 654,
 15812814: 655,
 852470: 656,
 1768603: 657,
 3805: 658,
 88061: 659,
 7672: 660,
 46677: 661,
 5439: 662,
 2767: 663,
 251688: 664,
 6690798: 665,
 2744: 666,
 5664985: 667,
 18693763: 668,
 9328: 669,
 11573: 670,
 16343: 671,
 16304: 672,
 15796700: 673,
 7494: 674,
 233667: 675,
 15731779: 676,
 6289283: 677,
 18293427: 678,
 475339: 679,
 1005: 680,
 8337: 681,
 14201: 682,
 3463: 683,
 12127810: 684,
 2536134: 685,
 3466: 686,
 1067: 687,
 10847: 688,
 11447921: 689,
 9742: 690,
 10569: 691,
 1472878: 692,
 455373: 693,
 2120652: 694,
 18214414: 695,
 43814: 696,
 9118135: 697,
 13539044: 698,
 33507: 699,
 16181: 700,
 14942: 701,
 13486632: 702,
 10589: 703,
 4687: 704,
 10605: 705,
 54479: 706,
 53496: 707,
 1430: 708,
 4009: 709,
 13747: 710,
 764347: 711,
 10988: 712,
 13414446: 713,
 12938: 714,
 12898: 715,
 531350: 716,
 11742691: 717,
 10975: 718,
 76334: 719,
 2880: 720,
 17571564: 721,
 9539: 722,
 33600: 723,
 2233407: 724,
 34084: 725,
 2373: 726,
 101299: 727,
 759611: 728,
 77566: 729,
 5308: 730,
 179780: 731,
 7937462: 732,
 77142: 733,
 546018: 734,
 96358: 735,
 16981: 736,
 43015: 737,
 9822: 738,
 39662: 739,
 114345: 740,
 33926: 741,
 13453029: 742,
 28881: 743,
 6708: 744,
 12868761: 745,
 127455: 746,
 518848: 747,
 5161066: 748,
 15753740: 749,
 12578077: 750,
 8694: 751,
 17167166: 752,
 29800: 753,
 6366437: 754,
 386372: 755,
 6644117: 756,
 256008: 757,
 32145: 758,
 8709527: 759,
 9532: 760,
 6063187: 761,
 375013: 762,
 11337: 763,
 5971165: 764,
 92057: 765,
 23754: 766,
 110737: 767,
 21686: 768,
 188572: 769,
 13006: 770,
 9938498: 771,
 30289: 772,
 47021: 773,
 13206828: 774,
 341879: 775,
 567616: 776,
 227941: 777,
 30597: 778,
 5211: 779,
 77727: 780,
 24765: 781,
 58345: 782,
 4134071: 783,
 10929: 784,
 32669: 785,
 30120: 786,
 7821447: 787,
 23955: 788,
 29581: 789,
 6596: 790,
 6614960: 791,
 22917: 792,
 3980: 793,
 16130549: 794,
 4271: 795,
 15760001: 796,
 3206011: 797,
 7770: 798,
 32423: 799,
 821611: 800,
 6224935: 801,
 7108001: 802,
 271199: 803,
 12985: 804,
 6917952: 805,
 5096: 806,
 18302455: 807,
 9673436: 808,
 5479: 809,
 1087204: 810,
 18812405: 811,
 16070903: 812,
 18081809: 813,
 6262365: 814,
 12497: 815,
 6101138: 816,
 6294: 817,
 11570: 818,
 16902: 819,
 28921: 820,
 10766509: 821,
 10746542: 822,
 64863: 823,
 1554: 824,
 5960325: 825,
 5659: 826,
 15749186: 827,
 9516: 828,
 3087: 829,
 6931356: 830,
 1295102: 831,
 268602: 832,
 5355: 833,
 4502877: 834,
 204042: 835,
 13227454: 836,
 13262783: 837,
 8648: 838,
 24128: 839,
 402093: 840,
 42900: 841,
 16096824: 842,
 13584236: 843,
 293595: 844,
 6393631: 845,
 5472: 846,
 5161: 847,
 12555: 848,
 402013: 849,
 13538873: 850,
 43448: 851,
 25899336: 852,
 139463: 853,
 22290: 854,
 1625: 855,
 12936: 856,
 902: 857,
 15839976: 858,
 3227063: 859,
 30868: 860,
 15745950: 861,
 17332218: 862,
 301736: 863,
 10967: 864,
 10628: 865,
 126232: 866,
 3867: 867,
 19302: 868,
 2967752: 869,
 2199: 870,
 7091488: 871,
 11989: 872,
 78418: 873,
 13547180: 874,
 305234: 875,
 420297: 876,
 27712: 877,
 13912: 878,
 41681: 879,
 2800905: 880,
 63697: 881,
 92364: 882,
 78433: 883,
 23164983: 884,
 359770: 885,
 17235026: 886,
 77013: 887,
 98573: 888,
 35729: 889,
 29580: 890,
 91477: 891,
 15751404: 892,
 870: 893,
 64216: 894,
 7815: 895,
 80660: 896,
 112537: 897,
 43758: 898,
 53835: 899,
 61535: 900,
 4965: 901,
 32508: 902,
 667: 903,
 10140661: 904,
 8073: 905,
 6643090: 906,
 5598113: 907,
 10909: 908,
 9067850: 909,
 51964: 910,
 32692: 911,
 6427: 912,
 327847: 913,
 21611: 914,
 10585: 915,
 7603: 916,
 944073: 917,
 114955: 918,
 7354: 919,
 22318578: 920,
 18460392: 921,
 231604: 922,
 17402605: 923,
 10964693: 924,
 16527: 925,
 22609317: 926,
 270730: 927,
 17675462: 928,
 547094: 929,
 1736739: 930,
 20588698: 931,
 76865: 932,
 6137154: 933,
 17716: 934,
 43035: 935,
 4978: 936,
 18116: 937,
 16081272: 938,
 15776309: 939,
 18693716: 940,
 11899: 941,
 15858248: 942,
 4136: 943,
 10584: 944,
 9369720: 945,
 13089710: 946,
 11500217: 947,
 187020: 948,
 13895: 949,
 20820994: 950,
 22283: 951,
 9420: 952,
 5091: 953,
 6202690: 954,
 9418: 955,
 5544: 956,
 6654313: 957,
 3579: 958,
 7588: 959,
 1166599: 960,
 19089: 961,
 13496084: 962,
 5350: 963,
 30: 964,
 13517535: 965,
 425029: 966,
 11597: 967,
 7968243: 968,
 1911: 969,
 17182126: 970,
 766020: 971,
 32829: 972,
 6398634: 973,
 216363: 974,
 105992: 975,
 90072: 976,
 15645: 977,
 11559200: 978,
 18816603: 979,
 71811: 980,
 872333: 981,
 40024: 982,
 25489625: 983,
 15997: 984,
 6463967: 985,
 11564: 986,
 8621462: 987,
 8253920: 988,
 540020: 989,
 6732019: 990,
 8909152: 991,
 3090465: 992,
 12875258: 993,
 32085: 994,
 11408650: 995,
 6854: 996,
 136116: 997,
 44186: 998,
 37741: 999,
 10194157: 1000,
 ...}

In [19]:
book_tags = book_tags[book_tags['tag_id'].isin(tags['tag_id'])]
book_tags['id'] = book_tags['goodreads_book_id'].apply(lambda x: mapper[x])
book_tags.head()

    goodreads_book_id  tag_id  count  id
1                   1   11305  37174  27
4                   1   33114  12716  27
5                   1   11743   9954  27
6                   1   14017   7169  27
10                  1   27199   3857  27

In [20]:
# Создадим разряженную матрицу взаимодействия пользователей с книгами
ratings_coo = sparse.coo_matrix((ratings.rating,(ratings.user_id,ratings.book_id)))
feature_ratings  = sparse.coo_matrix(([1]*len(book_tags),(book_tags.id,book_tags.tag_id)))

In [21]:
# число потоков процессора (зависит от того, на какой машине запускаете)
NUM_THREADS = 1

#число параметров вектора 
NUM_COMPONENTS = 60 

#число эпох обучения
NUM_EPOCHS = 10

#зерно датчика случайных чисел
RANDOM_STATE = 42

In [22]:
#Разбиваем датасет на обучающую и тестовую выборки
train, test = random_train_test_split(ratings_coo, test_percentage=0.2, random_state=RANDOM_STATE)

#Создаём модель
model = LightFM(
    learning_rate=0.05, #темп (скорость) обучения
    loss='warp', #loss-функция
    no_components=NUM_COMPONENTS,#размерность вектора признаков
    random_state=RANDOM_STATE #генератор случайных чисел
)

#Обучаем модель
model = model.fit(
    train, #обучающая выборка
    epochs=NUM_EPOCHS, #количество эпох обучения
    num_threads=NUM_THREADS, #количество потоков процессора
    item_features=feature_ratings #признаки товаров (рейтинги книг)
)

In [23]:
# Тестируем нашу модель
precision_score = precision_at_k(
    model,  # модель
    test,  # тестовая выборка
    num_threads=NUM_THREADS,  # количество потоков процессора
    k=10,  # количество предложений
    item_features=feature_ratings  # признаки товаров
).mean()  # усредняем результаты

recall_score = recall_at_k(
    model,  # модель
    test,  # тестовая выборка
    num_threads=NUM_THREADS,  # количество потоков процессора
    k=10,  # количество предложений
    item_features=feature_ratings  # признаки товаров
).mean()  # усредняем результаты

print(recall_score, precision_score)

0.04008034798209189 0.08673393

In [24]:
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)#, protocol=pickle.HIGHEST_PROTOCOL)

In [25]:
with open('./model.pkl', 'rb') as file:
    model = pickle.load(file)

Эмбединг

In [32]:
# Извлекаем эмбеддинги
item_biases, item_embeddings = model.get_item_representations(features=feature_ratings)

print(item_biases.shape, item_embeddings.shape)

(10001,) (10001, 60)

In [30]:
nms_idx = nmslib.init(method='hnsw', space='cosinesimil')
nms_idx.addDataPointBatch(item_embedings)
nms_idx.createIndex(print_progress=True)

0%   10   20   30   40   50   60   70   80   90   100%
|----|----|----|----|----|----|----|----|----|----|
***************************************************

In [31]:
def nearest_books_nms(book_id, index, n=10):
    nn = index.knnQuery(item_embedings[book_id],k =n)
    return nn

In [33]:
#Отфильтруем только те книги, в которых названии встречается подстрока "1984"
books[books['title'].apply(lambda x: x.lower().find('1984')) >= 0]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
12,13,5470,5470,153313,995,451524934,9.780452e+12,"George Orwell, Erich Fromm, Celâl Üster",1949.0,Nineteen Eighty-Four,...,1956832,2053394,45518,41845,86425,324874,692021,908229,https://images.gr-assets.com/books/1348990566m...,https://images.gr-assets.com/books/1348990566s...
845,846,5472,5472,2966408,51,151010269,9.780151e+12,"George Orwell, Christopher Hitchens",1950.0,Animal Farm & 1984,...,116197,118761,1293,1212,3276,16511,40583,57179,https://images.gr-assets.com/books/1327959366m...,https://images.gr-assets.com/books/1327959366s...
9795,9796,201145,201145,2563528,25,64440508,9.780064e+12,"Else Holmelund Minarik, Maurice Sendak",1968.0,A Kiss for Little Bear,...,11063,11604,126,87,284,1898,3053,6282,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...

In [34]:
#Вызываем функцию для поиска ближайших соседей
nearest_books_nms(846, nms_idx)

(array([846,  14,  55, 809,  13,  48, 289, 271, 375, 173], dtype=int32),
 array([0.        , 0.03544855, 0.04098177, 0.05688703, 0.06425363,
        0.0703209 , 0.08217251, 0.08694875, 0.08821321, 0.08975214],
       dtype=float32))

In [35]:
#Выделяем идентификаторы рекомендованных книг
nbm = nearest_books_nms(846, nms_idx)[0]
nbm

array([846,  14,  55, 809,  13,  48, 289, 271, 375, 173], dtype=int32)

In [36]:
#Посмотрим на авторов и названия рекомендованных книг
books[books.book_id.isin(nbm)][['authors', 'title']]

,authors,title
12,"George Orwell, Erich Fromm, Celâl Üster",1984
13,George Orwell,Animal Farm
47,Ray Bradbury,Fahrenheit 451
54,Aldous Huxley,Brave New World
172,Anthony Burgess,A Clockwork Orange
270,Daniel Keyes,Flowers for Algernon
288,Richard Adams,"Watership Down (Watership Down, #1)"
374,Jack London,The Call of the Wild
808,"Aldous Huxley, Christopher Hitchens",Brave New World / Brave New World Revisited
845,"George Orwell, Christopher Hitchens",Animal Farm / 1984

In [37]:
with open('item_embeddings.pkl', 'wb') as file:
    pickle.dump(item_embeddings, file)#, protocol=pickle.HIGHEST_PROTOCOL)