In [10]:
import numpy as np
import pandas as pd

---

In [11]:
events = pd.read_csv("./data/events.csv")
display(events.head())

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

---
Задание 2.1

Сколько записей событий находится в датасете? Ответ введите без пробелов и знаков препинания.

In [12]:
display(events.shape)

(2756101, 5)

---
Задание 2.2

Какие типы событий содержатся в датасете? Выберите все верные варианты.

In [13]:
display(events["event"].value_counts())

event
view           2664312
addtocart        69332
transaction      22457
Name: count, dtype: int64

---
Задание 2.3

Сколько уникальных признаков товара есть в датасете? Ответ вводите без пробелов и знаков препинания.

In [14]:
properties_1 = pd.read_csv("./data/item_properties_part1.csv")
display(properties_1.head())

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [15]:
properties_2 = pd.read_csv("./data/item_properties_part2.csv")
display(properties_2.tail())

             timestamp  itemid property                             value
9275898  1433646000000  236931      929                           n12.000
9275899  1440903600000  455746        6                     150169 639134
9275900  1439694000000  347565      686                            610834
9275901  1433646000000  287231      867                            769062
9275902  1442113200000  275768      888  888666 n10800.000 746840 1318567

In [16]:
properties = pd.concat([properties_1, properties_2])
properties.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [17]:
# Количество уникальных свойств товара
properties["property"].nunique()

1104

---

In [18]:
category_tree = pd.read_csv("./data/category_tree.csv")
category_tree.head()

   categoryid  parentid
0        1016     213.0
1         809     169.0
2         570       9.0
3        1691     885.0
4         536    1691.0

> events — датасет с событиями. Колонки:

• timestamp — время события

• visitorid — идентификатор пользователя

• event — тип события

• itemid — идентификатор объекта

• transactionid — идентификатор транзакции, если она проходила


> category_tree   — файл с деревом категорий (можно восстановить дерево).

• category_id — идентификатор категорий

• parent_id — идентификатор родительской категории



> item_properties - файл с свойствами товаров.

• timestamp — момент записи значения свойства

• item_id — идентификатор объекта

• property — свойство, кажется, они все, кроме категории, захешированы

• value — значение свойства