In [2]:
import pandas as pd

task_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
work_df = task_df.copy()

display(work_df.head())

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [3]:
work_df.Time = pd.to_datetime(work_df.Time)
display(work_df.head())

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [4]:
#В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

work_df['Time'].dt.year.mode()

0    1999
Name: Time, dtype: int64

In [142]:
#Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).


from time import time


diff_betw_cases = work_df.Time[work_df.State == 'NV'].dt.date.diff().mean()
#diff_betw_cases.days

x = diff_betw_cases.components[0:2]  #вывод дней и часов
x
def days_number_round(elemets):
    new_elements = list(elemets)
    new_elements[1] =  round(new_elements[1]/24, 3) 
    return round(sum(new_elements))
    

days_number_round(x)

69