In [2]:
import pandas as pd

trip_data = pd.read_csv('data/citibike-tripdata.csv')
trip_df = trip_data.copy()

In [3]:
trip_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [4]:
300000 - trip_df['start station name'].count()

169

In [5]:
#Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

trip_df['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [6]:
#Велосипед с каким идентификатором является самым популярным?
trip_df['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [7]:
#Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю 
#клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.
type_sum = trip_df['usertype'].value_counts().sum()
for i in trip_df['usertype'].value_counts():
    if trip_df['usertype'].value_counts()[0] > trip_df['usertype'].value_counts()[1]:
        print(round(trip_df['usertype'].value_counts()[0]/ type_sum, 2))
    else:
        print(round(trip_df['usertype'].value_counts()[1]/ type_sum, 2))

0.77
0.77

In [8]:
unique_list = list()
for col in trip_df.columns:
    item = (col, trip_df[col].nunique(), trip_df[col].dtypes)
    unique_list.append(item)
description = pd.DataFrame(
    data = unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']   
).sort_values(by='Num_Unique',  ignore_index=True)

display(description)

                Column_Name  Num_Unique     Type
0                  usertype           2   object
1                    gender           3    int64
2                birth year          91    int64
3          start station id         759  float64
4        start station name         759   object
5            end station id         765  float64
6          end station name         765   object
7    start station latitude         770  float64
8   start station longitude         772  float64
9      end station latitude         775  float64
10    end station longitude         777  float64
11                   bikeid       10004    int64
12                 stoptime      299813   object
13                starttime      299836   object

In [9]:
#Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

gender_replace = {0:'unknown', 1:'male', 2:'female'}
trip_df['gender'] = trip_df['gender'].replace(gender_replace)
mask = str(trip_df['gender'].mode()[0])
trip_df[trip_df['gender'] == mask]['starttime'].count()

183582

In [10]:
trip_df['birth year'].min()

1885

In [11]:
trip_df['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [12]:
trip_df['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [13]:
trip_df.drop(['start station id', 'start station id'], axis=1)
trip_df['starttime'] = pd.to_datetime(trip_df['starttime'])
trip_df['stoptime'] = pd.to_datetime(trip_df['stoptime'])

In [14]:
trip_df['age'] = 2018 - trip_df['birth year']
trip_df.drop('birth year', axis=1)
trip_df[trip_df['age']>60].count()

starttime                  11837
stoptime                   11837
start station id           11837
start station name         11837
start station latitude     11837
start station longitude    11837
end station id             11837
end station name           11837
end station latitude       11837
end station longitude      11837
bikeid                     11837
usertype                   11837
birth year                 11837
gender                     11837
age                        11837
dtype: int64

In [15]:
trip_df['trip duration'] = trip_df['stoptime'] - trip_df['starttime'] 
trip_df['trip duration'][3]

Timedelta('0 days 00:07:16.837000')

In [16]:
#Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), 
# и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.


trip_df['weekend'] = trip_df['starttime'].dt.day_of_week

replace_weekend = {5:1,6:1}

trip_df['weekend'] = trip_df['weekend'].apply(lambda x: x if x in replace_weekend else 0)

trip_df['weekend'] = trip_df['weekend'].replace(replace_weekend)

trip_df[trip_df['weekend'] ==1]['weekend'].value_counts()

1    115135
Name: weekend, dtype: int64

In [17]:
trip_df['starttime'].tail()

299995   2018-09-05 19:08:27.846
299996   2018-09-05 19:08:28.370
299997   2018-09-05 19:08:27.509
299998   2018-09-05 19:08:29.230
299999   2018-09-05 19:08:29.711
Name: starttime, dtype: datetime64[ns]

In [29]:
#Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:

#    поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
#    поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
#    поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
#    поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

#Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, 
# за представленный в данных период времени? Ответ округлите до целых.

time_of_day = trip_df['starttime'].dt.hour
trip_df['time_of_day'] = time_of_day

def time_of_day_rename(args):   
    if 0 <= args <= 6:
        args = 'night'
    elif 6 < args <= 12:
        args = 'morning'
    elif 12 < args <= 18:
        args = 'day'
    else:
        args = 'evening'
    return args        

trip_df['time_of_day'] = trip_df['time_of_day'].apply(time_of_day_rename)
day_trip = trip_df['time_of_day'] == 'day'
nigt_trip = trip_df['time_of_day'] == 'night'

trip_df[day_trip]['time_of_day'].count() // trip_df[nigt_trip]['time_of_day'].count()

9