In [2]:
import numpy as np
import pandas as pd
from sklearn.metrics import ndcg_score

In [49]:
movies = pd.read_csv('/Users/kirillkuznecov/Downloads/movie.csv')
ratings = pd.read_csv('/Users/kirillkuznecov/Downloads/dst-3.0_mathml_14_5_rating.csv')

In [50]:
df=pd.merge(ratings,movies, how='left',on='movieId')
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants perdus, La) (1995)",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [51]:
df['title'].value_counts().head(5)

title
Pulp Fiction (1994)                 67310
Forrest Gump (1994)                 66172
Shawshank Redemption, The (1994)    63366
Silence of the Lambs, The (1991)    63299
Jurassic Park (1993)                59715
Name: count, dtype: int64

In [52]:
mean_rating = df.groupby(by='title')['rating'].mean()
mean_rating = pd.DataFrame(mean_rating)
mean_rating['rating'] = mean_rating['rating'].astype(float)
mean_rating = mean_rating.sort_values(by='rating', ascending=False)

In [53]:
mean_rating.query('rating == rating.max()').sort_values(by="title").tail(1)

                    rating
title
Yonkers Joe (2008)     5.0

In [95]:
rating_frequency = pd.DataFrame(df.groupby(by='title', as_index=False).agg({'rating': ['mean', 'count']}))
rating_frequency = pd.DataFrame(rating_frequency.values, columns=['title', 'mean_rating', 'num_of_rew'])

In [99]:
rating_frequency.head()

                                               title mean_rating num_of_rew
0  #chicagoGirl: The Social Network Takes on a Di...    3.666667          3
1                                 $ (Dollars) (1971)    2.833333         24
2                                    $5 a Day (2008)    2.871795         39
3                                       $9.99 (2008)    3.009091         55
4                     $ellebrity (Sellebrity) (2012)         2.0          2

In [104]:
rating_frequency = rating_frequency.sort_values(by=['num_of_rew', 'mean_rating'], ascending=False).reset_index(drop=True)
rating_frequency.head()

                              title mean_rating num_of_rew
0               Pulp Fiction (1994)    4.174231      67310
1               Forrest Gump (1994)       4.029      66172
2  Shawshank Redemption, The (1994)     4.44699      63366
3  Silence of the Lambs, The (1991)    4.177057      63299
4              Jurassic Park (1993)    3.664741      59715

In [108]:
bace_rs = rating_frequency.query("num_of_rew > 50")
bace_rs.count()

title          10472
mean_rating    10472
num_of_rew     10472
dtype: int64

In [113]:
bace_rs.sort_values(by='mean_rating', ascending=False)

                                    title mean_rating num_of_rew
2        Shawshank Redemption, The (1994)     4.44699      63366
28                  Godfather, The (1972)    4.364732      41355
14             Usual Suspects, The (1995)    4.334372      47006
9                 Schindler's List (1993)    4.310175      50054
78         Godfather: Part II, The (1974)    4.275641      27398
...                                   ...         ...        ...
4902      Barney's Great Adventure (1998)    1.163484        419
3855                       Glitter (2001)    1.124088        685
7016              Bratz: The Movie (2007)    1.105556        180
4865          From Justin to Kelly (2003)    0.973005        426
6641  SuperBabies: Baby Geniuses 2 (2004)    0.837321        209

[10472 rows x 3 columns]