In [124]:
import warnings

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import f1_score, mean_absolute_error
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import BaggingClassifier, RandomForestRegressor

warnings.filterwarnings("ignore")

In [73]:
# Task 2.2
#Вычислите дисперсию для этого ряда. Результат округлите до трёх знаков после точки-разделителя.
a = [4.4, 3.8, 4.8, 4.0, 3.4, 4.2, 5.2]
b = np.mean(a)
np.mean((a-b)**2)

0.31673469387755115

---

In [74]:
# Task 2.7
# Введите значение F1-score для классификатора, который показал наилучшее значение. Ответ округлите до трёх знаков после точки-разделителя.
data_set = pd.read_csv('./data/wineQualityReds.csv',index_col=0)
data_set['target'] = np.where(data_set['quality']>=6, 1, 0)
data_set.head()

,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality,target
1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
2,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
3,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
4,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
5,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [75]:
X = data_set.drop(['quality', 'target'], axis=1)
y = data_set['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [76]:
lg = LogisticRegression()
dt = DecisionTreeClassifier(random_state=42, max_depth=10)
lg.fit(X_train, y_train)
dt.fit(X_train, y_train)

lg_pred = lg.predict(X_test)
dt_pred = dt.predict(X_test)

f1_lg = f1_score(y_test, lg_pred).round(3)
f1_dt = f1_score(y_test, dt_pred).round(3)
print(f1_lg)
print(f1_dt)

0.754
0.793

In [77]:
bag = BaggingClassifier(
    estimator=dt,
    n_estimators=1500,
    random_state=42,
    n_jobs=-1
)
bag.fit(X_train, y_train)
bag_pred = bag.predict(X_test)
f1_bag = f1_score(y_test, bag_pred).round(3)

print(f1_bag)

0.818

____

In [139]:
#Task 3.4
#1. Разбейте набор данных на обучающую и тестовую выборку в соотношении 70/30, при разбиении задайте параметр random state = 13.
#Какое получилось среднее значение медианных цен на обучающей выборке? Ответ округлите до двух знаков после точки-разделителя.
df = pd.read_csv('./data/boston.csv')

for i in df.columns:
    if df[i].dtype == 'object':
        df[i] = df[i].str.replace(',', '.')
        df[i] = df[i].astype('float')

display(df.head())

X = df.drop(['target'], axis=1)
y = df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=13)
print(f'Ответ на задачу: {y_train.mean().round(2)}')

,crim_rate,zn,business,river,nit_oxiden,rooms,age,dist,highways_index,tax,pup_per_teaс,lower,target
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

Ответ на задачу: 22.77

In [140]:
#2. Обучите линейную регрессию с параметрами по умолчанию.
#В качестве ответа введите ошибку МАЕ на тестовой выборке. Ответ округлите до двух знаков после точки-разделителя.

lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred_lr = lr.predict(X_test)

print(f'Ответ на вопрос: {mean_absolute_error(y_test, y_pred_lr).round(3)}')

Ответ на вопрос: 3.722

In [141]:
#3. Обучите решающее дерево с параметрами по умолчанию и аргументом random state = 13.
#Можно ли, опираясь на результаты, сделать вывод, что алгоритм переобучился?

dtr = DecisionTreeRegressor(random_state=13)
dtr.fit(X_train, y_train)

y_test_pred = dtr.predict(X_train)
y_pred_dtr = dtr.predict(X_test)

print(f'Ответ на вопрос: {mean_absolute_error(y_train, y_test_pred).round(3)}')

Ответ на вопрос: 0.0

In [142]:
#4. Обучите четыре случайных леса с числом деревьев 3, 10, 100, 500 и параметром random state = 13.
#В качестве ответа введите наименьшую полученную ошибку МАЕ на тестовой выборке. Ответ округлите до двух знаков после точки-
#разделителя.

param_grid = {'n_estimators' : [3, 10, 100, 500]}
rfcv = GridSearchCV(
    estimator=RandomForestRegressor(random_state=13),
    param_grid=param_grid,
    n_jobs=-1,
)
rfcv.fit(X_train, y_train)
y_pred_rfcv = rfcv.predict(X_test)

print(f'Ответ на вопрос: {mean_absolute_error(y_test, y_pred_rfcv).round(3)}')

Ответ на вопрос: 2.237

---