In [1]:
import numpy as np

# Создание массива NumPy
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Получение атрибутов массива
num_dimensions = data.ndim
shape = data.shape
size = data.size
dtype = data.dtype

# Выборка элемента по индексу и выполнение срезов данных массива
element_at_index_0_0 = data[0, 0]
sliced_data = data[:2, 1:]

# Выполнение математических и статистических функций библиотеки NumPy
sum_of_elements = np.sum(data)
mean_value = np.mean(data)
median_value = np.median(data)
std_deviation = np.std(data)

# Вывод результатов
print("Число измерений:", num_dimensions)
print("Размеры массива:", shape)
print("Количество элементов:", size)
print("Тип данных элементов:", dtype)
print("Элемент по индексу (0, 0):", element_at_index_0_0)
print("Срез данных массива:", sliced_data)
print("Сумма элементов:", sum_of_elements)
print("Среднее значение:", mean_value)
print("Медиана:", median_value)
print("Отклонение от среднего:", std_deviation)

Число измерений: 2
Размеры массива: (3, 3)
Количество элементов: 9
Тип данных элементов: int64
Элемент по индексу (0, 0): 1
Срез данных массива: [[2 3]
 [5 6]]
Сумма элементов: 45
Среднее значение: 5.0
Медиана: 5.0
Отклонение от среднего: 2.581988897471611

In [1]:
import pandas as pd

# Создаем исходный DataFrame
data = {
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'math': [85, 90, 78],
    'physics': [92, 88, 75]
}
df = pd.DataFrame(data)

# Применяем метод melt для преобразования
melted_df = df.melt(id_vars=['id', 'name'], var_name='subject', value_name='score')

print(melted_df)

   id     name  subject  score
0   1    Alice     math     85
1   2      Bob     math     90
2   3  Charlie     math     78
3   1    Alice  physics     92
4   2      Bob  physics     88
5   3  Charlie  physics     75

In [3]:
df

   id     name  math  physics
0   1    Alice    85       92
1   2      Bob    90       88
2   3  Charlie    78       75

In [4]:

# Используем метод pivot_table для преобразования обратно в широкий формат
pivoted_df = melted_df.pivot_table(index=['id', 'name'], columns='subject', values='score').reset_index()

print(pivoted_df)

subject  id     name  math  physics
0         1    Alice  85.0     92.0
1         2      Bob  90.0     88.0
2         3  Charlie  78.0     75.0