In [50]:
import pandas as pd


students_perf = pd.read_csv('data/students_performance.csv', sep=',')
display(students_perf.head())
students_perf['test preparation course']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

0           none
1      completed
2           none
3           none
4           none
         ...
995    completed
996         none
997    completed
998    completed
999         none
Name: test preparation course, Length: 1000, dtype: object

In [51]:
students_perf.info()
students_perf['test preparation course']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

0           none
1      completed
2           none
3           none
4           none
         ...
995    completed
996         none
997    completed
998    completed
999         none
Name: test preparation course, Length: 1000, dtype: object

In [13]:
#Каков балл по письму у студента под индексом 155?

students_perf.iloc[155]['writing score']

88

In [17]:
students_perf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [61]:
#Каков у студентов средний балл по математике?

students_perf['math score'].mean()

66.089

In [20]:
#Какая расовая группа является самой крупной в учебном заведении?

students_perf['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [54]:
#Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

mask_tpc = students_perf['test preparation course'] == 'completed'
students_perf[mask_tpc]['reading score'].mean()

73.89385474860335

In [57]:
#Сколько студентов получили 0 баллов по математике?

mask_math = students_perf['math score'] == 0
students_perf[mask_math]['math score'].shape[0]

1

In [60]:
#Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
#В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

mask_lunch_paid = students_perf['lunch'] == 'standard'
mask_lunch_free = students_perf['lunch'] == 'free/reduced'

if students_perf[mask_lunch_paid]['math score'].mean() > students_perf[mask_lunch_free]['math score'].mean():
    print(students_perf[mask_lunch_paid]['math score'].mean())
else:
    print(students_perf[mask_lunch_free]['math score'].mean())

70.03410852713178

In [76]:
#Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

from locale import normalize


#mask_par_lev_ed = students_perf['parental level of education'] == 'bachelor\'s degree'
students_perf['parental level of education'].value_counts(normalize=True)*100

some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: parental level of education, dtype: float64

In [81]:
#Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

mask_a = students_perf['race/ethnicity'] == 'group A'
mask_c = students_perf['race/ethnicity'] == 'group C'

round(abs(students_perf[mask_a]['writing score'].median() - students_perf[mask_c]['writing score'].mean()))

6