In [1]:
import redis
r = redis.Redis(host='localhost', port=6379, db=0)

In [2]:
r.set('mykey', 'myvalue')

True

In [3]:
r.get('mykey')

b'myvalue'

In [11]:
r.get('mykey').decode("utf-8")

'myvalue'

In [15]:
r.lpush('TestList', "value1")
r.rpush('TestList', "value2")

2

In [17]:
r.lpop('TestList').decode("utf-8")

'value2'

In [30]:

r.lpush('books', "War And Peace")
r.lpush('books', "Son")
r.lpush('books', "Warriors")

3

In [29]:
r.lpop('books').decode('utf-8')

AttributeError: 'NoneType' object has no attribute 'decode'

In [ ]:
CREATE TABLE final (
    `RecordId` UInt64,
    `UserId` UInt64,
    `ProductId` UInt64,
    `ClickTime` DateTime,
    `PurchTime` DateTime,
    `Price` Float,
    `Quantity` Int32 
)
ENGINE = MergeTree() 
PARTITION BY toYYYYMM(ClickTime)
ORDER BY ClickTime

In [ ]:
INSERT INTO final (*) VALUES 
(0, 1, 5, '2020-03-01 10:25:00', '2020-03-01 11:05:00', 10, 1),
(1, 1, 178, '2020-04-01 00:00:00', '2020-04-01 01:02:00', 23111, 22),
(2, 2, 99, '2020-03-02 13:01:00', '2020-03-02 14:10:00', 331, 3),
(3, 3, 5, '2020-03-01 10:25:00', '2020-03-01 10:25:00', 10, 2),
(4, 1, 67, '2020-08-12 07:27:00', '2020-08-12 07:28:00', 45000, 1),
(5, 4, 22, '2020-05-01 16:08:00', '2020-05-01 16:25:00', 22149, 5)

In [ ]:
db.final.insertMany([
          { name: 'Ann', productId: 5, price: 10, quantity : 1 },
          { name: 'Ann', productId: 178, price: 23111, quantity : 22 },
          { name: 'Mike', productId: 99, price: 331, quantity : 3 },
          { name: 'Alex', productId: 5, price: 10, quantity : 2 },
          { name: 'Ann', productId: 67, price: 45000, quantity : 1 },
          { name: 'John', productId: 22, price: 22149, quantity : 5 }
        ])

In [ ]:
db.final.insertMany([
            { name: 'Ann', productId: 5, price: 10, quantity : 1 },
            { name: 'Ann', productId: 178, price: 23111, quantity : 22 },
            { name: 'Mike', productId: 99, price: 331, quantity : 3 },
            { name: 'Alex', productId: 5, price: 10, quantity : 2 },
            { name: 'Ann', productId: 67, price: 45000, quantity : 1 },
            { name: 'John', productId: 22, price: 22149, quantity : 5 },
          ])

In [ ]:
db.final.update({name:"John"},{$inc:{productId:1}});

In [ ]:
db.final.update( { name: 'John'} , { $inc : { productId: 1 } } );

In [ ]:
db.final.update({name:"John"}, {$set:{productId:23}})

In [ ]:
CREATE TABLE orders (
    orderId int not null primary key,
    productId int not null,
    clientId int not null,
    orderType int not null
);

In [ ]:
CREATE TABLE orderType1 (
    CHECK (orderType = 1)
) INHERITS (orders);
CREATE TABLE orderType2 (
    CHECK (orderType = 2)
) INHERITS (orders);

In [ ]:
CREATE RULE orders_insert1 AS ON INSERT TO orders
WHERE ( orderType = 1)
DO INSTEAD INSERT INTO orderType1 VALUES (NEW.*);
CREATE RULE orders_insert2 AS ON INSERT TO orders
WHERE ( orderType = 2)
DO INSTEAD INSERT INTO orderType2 VALUES (NEW.*);

In [ ]:
INSERT INTO orders VALUES (1,2,3,2);