In [1]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

In [10]:
len(alphabet)

26

In [6]:
test ="zzzab"
# hkfib

In [7]:
alphabet.find('z')

25

In [8]:
for i in test:
    print(alphabet.find(i))

25
25
25
0
1

In [12]:
alphabet[25]

'z'

In [89]:
test_lst = []
for i in test:
    test_lst.append(alphabet.find(i))

for i in test_lst:
    print(test_lst.count(i))

3
3
3
1
1

In [90]:
test_lst = []
for i in test:
    test_lst.append(alphabet.find(i))

test_lst

[25, 25, 25, 0, 1]

In [33]:
for i, v in enumerate(test_lst):
    if test_lst.count(v) > 1:
        test_lst[i] += 1
        test_lst.pop(i)
        if test_lst[i] > len(alphabet) - 1:
            test_lst[i] = 0
            test_lst.pop(i)
test_lst

[25, 0, 1]

In [91]:
duplicates = {}
for i, v in enumerate(test_lst):
    if v in duplicates:
        duplicates[v].append(i)
    else:
        duplicates[v] = [i]

duplicates = {k: v for k, v in duplicates.items() if len(v) > 1}
duplicates

{25: [0, 1, 2]}

In [115]:
test ="zzzab"
alphabet = "abcdefghijklmnopqrstuvwxyz"
test_lst = []
for i in test:
    test_lst.append(alphabet.find(i))
    
def check_duplicates(test_lst= test_lst):
    duplicates = {}
    for i, v in enumerate(test_lst):
        if v in duplicates:
            duplicates[v].append(i)
        else:
            duplicates[v] = [i]

    duplicates = {k: v for k, v in duplicates.items() if len(v) > 1}
    
    return duplicates

duplicates = check_duplicates()

while True:
    
    for key in duplicates.keys():
        a, b = duplicates[key][0], duplicates[key][1]
        test_lst.pop(b)
        test_lst[a] += 1
        if test_lst[a] > len(alphabet) - 1:
            test_lst[a] = 0
        
    duplicates = check_duplicates()
    
    if len(duplicates) == 0:
        break
    
test_lst

[2, 25]

In [141]:
s = "zzzab"
def replace_duplicates(s):
    
    # Встроенный алфавит
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    
    # Подготовка ввода для обработки
    test_lst = []
    for i in test:
        test_lst.append(alphabet.find(i))
    
    # Вспомогательная функция для поиска дубликатов
    def check_duplicates(test_lst=test_lst):
        duplicates = {}
        for i, v in enumerate(test_lst):
            if v in duplicates:
                duplicates[v].append(i)
            else:
                duplicates[v] = [i]

        duplicates = {k: v for k, v in duplicates.items() if len(v) > 1}
        
        return duplicates
    
    
    # Инициализация словаря дубликатов
    duplicates = check_duplicates()

    # Начинаем крутить по списку выискивая и подменяя дубликаты
    while True:
        for key in duplicates.keys():
            # Подмена по 2 элементам
            a, b = duplicates[key][0], duplicates[key][1]
            test_lst.pop(b)
            test_lst[a] += 1
            if test_lst[a] > len(alphabet) - 1:
                test_lst[a] = 0
        duplicates = check_duplicates()
        
        # Как исчерпали все - выходим
        if len(duplicates) == 0:
            break
        
    
    result = ""
    for i in test_lst:
        result += alphabet[i]
        
    return result

In [ ]:
s = "zzzab"
def replace_duplicates(s: str) -> str:
    """
    Заменяет дубликаты символов в строке на следующие символы в алфавите и возвращает измененную строку.

    Args:
    s (str): Входная строка

    Returns:
    str: Измененная строка без дубликатов
    """
    
    # Встроенный алфавит
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    
    # Подготовка ввода для обработки
    test_lst = []
    for i in s:
        test_lst.append(alphabet.find(i))  # Преобразование символов в индексы алфавита
    
    # Вспомогательная функция для поиска дубликатов
    def check_duplicates(test_lst=test_lst) -> dict:
        duplicates = {}
        for i, v in enumerate(test_lst):
            if v in duplicates:
                duplicates[v].append(i)
            else:
                duplicates[v] = [i]

        duplicates = {k: v for k, v in duplicates.items() if len(v) > 1}  # Оставляем только дубликаты
        
        return duplicates
    
    # Инициализация словаря дубликатов
    duplicates = check_duplicates()

    # Начинаем крутить по списку выискивая и подменяя дубликаты
    while True:
        for key in duplicates.keys():
            # Подмена по 2 элементам
            a, b = duplicates[key][0], duplicates[key][1]
            test_lst.pop(b)  # Удаляем второй дубликат
            test_lst[a] += 1  # Увеличиваем первый дубликат на 1
            if test_lst[a] > len(alphabet) - 1:  # Если вышли за пределы алфавита, возвращаемся к началу
                test_lst[a] = 0
        duplicates = check_duplicates()  # Проверяем остались ли дубликаты
        
        # Как исчерпали все - выходим
        if len(duplicates) == 0:
            break
    
    result = ""
    for i in test_lst:
        result += alphabet[i]  # Преобразование индексов обратно в символы
    
    return result

In [194]:
s = "hhakafh"


def replace_duplicates(s):
    """
    Заменяет дубликаты символов в строке на следующие символы в алфавите и возвращает измененную строку.

    Args:
    s (str): Входная строка

    Returns:
    str: Измененная строка без дубликатов
    """

    # Встроенный алфавит
    alphabet = "abcdefghijklmnopqrstuvwxyz"

    # Подготовка ввода для обработки
    test_lst = []
    for i in s:
        test_lst.append(alphabet.find(i))  # Преобразование символов в индексы алфавита

    # Вспомогательная функция для поиска дубликатов
    def check_duplicates(test_lst=test_lst) -> dict:
        duplicates = {}
        for i, v in enumerate(test_lst):
            if v in duplicates:
                duplicates[v].append(i)
            else:
                duplicates[v] = [i]

        # Оставляем только дубликаты
        duplicates = {k: v for k, v in duplicates.items() if len(v) > 1}

        return duplicates

    # Инициализация словаря дубликатов
    duplicates = check_duplicates()

    # Начинаем крутить по списку выискивая и подменяя дубликаты
    counter = 1
    while True:
        # Первый дубликат
        dup_list = duplicates[list(duplicates.keys())[0]]
        a = dup_list[0]
        b = dup_list[1]
        
        test_lst.pop(b)  # Удаляем второй дубликат
        test_lst[a] += 1  # Увеличиваем первый дубликат на 1
        
        # Если вышли за пределы алфавита, возвращаемся к началу
        if (test_lst[a] > len(alphabet) - 1):  
            test_lst[a] = 0
    

        # Преобразование индексов обратно в символы
        result = ""
        for i in test_lst:
            result += alphabet[i]

        print(f"Step {counter}: {result}")

        counter += 1

        duplicates = check_duplicates()  # Проверяем остались ли дубликаты

        # Как исчерпали все - выходим
        if len(duplicates) == 0:
            break

    return sorted([i for i in result]) # Чтоб проверить тестами

In [195]:
def test_replace_duplicates():
    """Тест"""
    print("____Начало теста_____")

    assert replace_duplicates("zzzab") == sorted([i for i in "cz"])
    assert replace_duplicates("hhakafh") == sorted([i for i in "hkfib"])

    print("Тест пройден")
    print("____Конец теста_____")


# Запуск теста
test_replace_duplicates()

# Запуск функции
replace_duplicates(s)

____Начало теста_____
Step 1: azab
Step 2: bzb
Step 3: cz
Step 1: iakafh
Step 2: ibkfh
Тест пройден
____Конец теста_____
Step 1: iakafh
Step 2: ibkfh

['b', 'f', 'h', 'i', 'k']

In [191]:
sorted("hkfib".split())

['hkfib']

In [188]:
sorted(["c", "z"]) == sorted(["z", "c"])

True

In [193]:
sorted([i for i in "hkfib"])

['b', 'f', 'h', 'i', 'k']

In [3]:
import pandas as pd
import numpy as np

fruit = np.array(["lemons", "lemons", "lemons", "lemons",
             	"apples", "apples", "apples", "apples",
             	"apples", "apples", "apples"],
            	dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop B", "Shop B", "Shop A"],
            	dtype=object)
 
pl = np.array(["online", "online", "offline",
             	"online", "online", "offline",
             	"offline", "online", "offline",
             	"offline", "offline"],
            	dtype=object)

df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
               	"Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
               	"P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3, 3]})
df['total'] = df['Q']*df['P']

##########################################

subset = df.query("Q > 3 and shop == 'Shop A'")

In [4]:
df

     fruit    shop       pl  Q  P  total
0   lemons  Shop A   online  1  5      5
1   lemons  Shop A   online  2  4      8
2   lemons  Shop A  offline  2  5     10
3   lemons  Shop B   online  3  5     15
4   apples  Shop A   online  3  6     18
5   apples  Shop A  offline  4  6     24
6   apples  Shop A  offline  5  8     40
7   apples  Shop B   online  6  9     54
8   apples  Shop B  offline  7  9     63
9   apples  Shop B  offline  4  3     12
10  apples  Shop A  offline  4  3     12

In [32]:
df[df["fruit"] == 'lemons'].groupby('fruit')["P"].mean()

fruit
lemons    4.75
Name: P, dtype: float64

In [56]:
import pandas as pd
import numpy as np

fruit = np.array(["lemons", "lemons", "lemons", "lemons",
             	"apples", "apples", "apples", "apples",
             	"apples", "apples", "apples"],
            	dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop B", "Shop B", "Shop A"],
            	dtype=object)
 
pl = np.array(["online", "online", "offline",
             	"online", "online", "offline",
             	"offline", "online", "offline",
             	"offline", "offline"],
            	dtype=object)

df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
               	"Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
               	"P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3, 3]})
df['total'] = df['Q']*df['P']

##########################################

subset = df.query("Q > 3 and shop == 'Shop A'").reset_index(drop=True)
fruit_total = df.groupby("fruit")["total"].sum()
fruit_quantity = df.groupby("fruit")["Q"].sum()
lemon_average_price = df[df["fruit"] == 'lemons'].groupby('fruit')["P"].mean()

In [57]:
subset["total"].iloc[1]

40

In [58]:
fruit_quantity

fruit
apples    33
lemons     8
Name: Q, dtype: int64

In [59]:
import pandas as pd
import numpy as np

fruit = np.array(["lemons", "lemons", "lemons", "lemons",
                 "apples", "apples", "apples", "apples",
                 "apples", "apples", "apples"],
                dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop B", "Shop B", "Shop A"],
                dtype=object)
  
pl = np.array(["online", "online", "offline",
                 "online", "online", "offline",
                 "offline", "online", "offline",
                 "offline", "offline"],
                dtype=object)



df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
                   "Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
                   "P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3,3]})
df['total'] = df['Q']*df['P']
# далее запишите ваш код

In [62]:
pivot = df.pivot_table(values="total", index="shop", columns="pl", aggfunc="sum")

In [63]:
pivot.iloc[1,1]

69