In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.metrics import mean_squared_error

from statsmodels.tsa.api import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.api import SimpleExpSmoothing
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.ar_model import AutoReg

In [2]:
df = pd.read_excel('./data/shmet_historical.xlsx',
                   index_col=0, parse_dates=['date'])

df.drop(columns=['unit'], inplace=True)
df.set_index('date', inplace=True)
display(df.head())
display(df.info())

            price
date
2023-08-03  69425
2023-08-02  69990
2023-08-01  70925
2023-07-31  69830
2023-07-28  68950

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 660 entries, 2023-08-03 to 2020-01-10
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   660 non-null    int64
dtypes: int64(1)
memory usage: 10.3 KB

None

In [20]:
df_test = df.copy()
df_test.iloc[1] = np.nan

In [21]:
df_test

              price
date
2023-08-03  69425.0
2023-08-02      NaN
2023-08-01  70925.0
2023-07-31  69830.0
2023-07-28  68950.0
...             ...
2020-01-17  48930.0
2020-01-16  48950.0
2020-01-15  49060.0
2020-01-14  48990.0
2020-01-10  48605.0

[660 rows x 1 columns]

In [22]:
df_interpolated = df_test.interpolate(method='nearest')

In [23]:
df_interpolated

              price
date
2023-08-03  69425.0
2023-08-02  70925.0
2023-08-01  70925.0
2023-07-31  69830.0
2023-07-28  68950.0
...             ...
2020-01-17  48930.0
2020-01-16  48950.0
2020-01-15  49060.0
2020-01-14  48990.0
2020-01-10  48605.0

[660 rows x 1 columns]

In [46]:
# Season decomposition
decompose = seasonal_decompose(df)
decompose.plot()
plt.show()

ValueError: You must specify a period or x must be a pandas object with a PeriodIndex or a DatetimeIndex with a freq not set to None