In [1]:
import numpy as np
import pandas as pd

In [3]:
student_data = pd.read_csv("./data/students_performance.csv")
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

- gender — пол;
- race/ethnicity — раса/этническая принадлежность;
- parental level of education — уровень образования родителей;
- lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
- test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
- math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

Задание 9.1

Данные о скольких студентах содержатся в таблице?

In [6]:
print(f"Датафрейм содержит записи о {student_data.shape[0]} студентах")

Датафрейм содержит записи о 1000 студентах

Задание 9.2

Каков балл по письму у студента под индексом 155?

In [10]:
student_data["writing score"][155]

88

Задание 9.3

Сколько суммарно пропущенных значений в таблице?

In [17]:
student_data.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Задание 9.4

Сколько столбцов в таблице имеет тип данных object?

In [19]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Задание 9.5

Какой объём памяти (в килобайтах) занимает таблица?

In [20]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Задание 9.6

Каков у студентов средний балл по математике?

In [21]:
student_data["math score"].mean()

66.089

Задание 9.7

Какая расовая группа является самой крупной в учебном заведении?
В качестве ответа введите идентификатор группы (A, B, C, D, F).

In [22]:
student_data["race/ethnicity"].mode()

0    group C
Name: race/ethnicity, dtype: object

Задание 9.8

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [35]:
result = student_data[student_data["test preparation course"] != 'none']
result["reading score"].mean()

73.89385474860335

Задание 9.9

Сколько студентов получили 0 баллов по математике?

In [41]:
student_data[student_data["math score"] == 0].count()

gender                         1
race/ethnicity                 1
parental level of education    1
lunch                          1
test preparation course        1
math score                     1
reading score                  1
writing score                  1
dtype: int64

Задание 9.10

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
Округлите ответ до целого числа.

In [45]:
free_meal = student_data[student_data["lunch"] == "free/reduced"]
standart_meal = student_data[student_data["lunch"] != "free/reduced"]

print(free_meal["math score"].mean() < standart_meal["math score"].mean())
print(max(free_meal["math score"].mean(), standart_meal["math score"].mean()))

True
70.03410852713178

Задание 9.11

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
Округлите ответ до целого числа.
Не указывайте знак %.

In [47]:

bachelors_degree_count = student_data[student_data["parental level of education"] == "bachelor's degree"].shape[0]
total_students = student_data.shape[0]

percentage = (bachelors_degree_count / total_students) * 100
rounded_percentage = round(percentage)

print(f"Процент студентов, родители которых имеют высшее образование уровня бакалавриата: {rounded_percentage}")

Процент студентов, родители которых имеют высшее образование уровня бакалавриата: 12

Задание 9.12

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
Округлите ответ до целого и запишите модуль этого числа.

In [48]:
median_score_group_A = student_data[student_data["race/ethnicity"] == "group A"][
    "writing score"
].median()
mean_score_group_C = student_data[student_data["race/ethnicity"] == "group C"][
    "writing score"
].mean()

difference = abs(median_score_group_A - mean_score_group_C)
rounded_difference = round(difference)

print(
    f"Модуль разницы между медианным баллом по письму у студентов в расовой группе A и средним баллом по письму у студентов в расовой группе C: {rounded_difference}"
)

Модуль разницы между медианным баллом по письму у студентов в расовой группе A и средним баллом по письму у студентов в расовой группе C: 6